# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PySpark / Spark
spark-warehouse/
metastore_db/
derby.log

# Output Files
output/
*.csv
*.parquet

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Temporary Files
temp/
tmp/